@{
	ViewData["Title"] = "My Teams";
}

@model List<Pokedex.Models.Pokemon>


<link rel="stylesheet" href="/css/styles.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">
				<div class="content-title">
					<h1>Build an <span>Unbeatable </span>Team</h1>
					<br />
					<h3>How strong will your Pokémon Battle Team be?</h3>

					<br />
					<p>Build your team of 6 Pokémon, build just one or a team for any situation.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pokemon-search">
	<div class="search-box">
		@*<img class="icon-png" src="/assets/nav-icons/magnifier.png" alt="Search for a Pokemon"/>*@
		<input type="text" placeholder="Search for a Pokémon by Name or ID">
	</div>
</div>



<div class="pokemon-list-container">
	<ul class="pokemon-table">
		<li class="table-header">
			<div class="col col-1">ID</div>
			<div class="col col-2">Sprite</div>
			<div class="col col-3">Name</div>	
			<div class="col col-4">Caught</div>
			<div class="col col-5">Add to Team?</div>
		</li>

		@{
			var number = 1;
		}

		@for (int i = 0; i < Model.Count; i++)
			{
			<li class="table-row">
				<div class="col col-1" data-label="Pokemon Number">@(number++)</div>
				<div class="col col-2" data-label="Sprite">@Html.Raw($" <img src=\"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{i + 1}.png\" alt=\"{@Model[i].name}\"/> ")</div>
				<div class="col col-3" data-label="Pokemon Name">@Model[i].name</div>
				<div class="col col-4" data-label="Caught"><i class='bx bx-check-circle'></i></div>
				<div class="col col-5" data-label="Add to Team">

				<form method="post" asp-action="AddToTeam">
				<input type="hidden" name="pokemonName" value="@Model[i].name" />
				<input type="hidden" name="pokemonSpriteUrl" value="@($"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{i + 1}.png")" />
				 <button type ="submit" class="solid-button">Add to Team</button>
				 </form>

				</div>
			</li>
			}
	</ul>
	<br /><br /><br />
</div>

<script src="lib/jquery/dist/jquery.min.js"></script>

<script>
	$(document).ready(function () {
		$('.form-control.search').on("keyup", function () {
			var poke_search = $(this).val().toLowerCase();
			$("#upper").children().each(function () {
				var stringData = $(this).children().children("p").text();
				console.log("AAA")
				console.log(stringData)
				if (stringData.indexOf(poke_search) == -1) {
					$(this).hide();
				} else {

					$(this).show();
				}
			})
		})
	})
</script>