@{
	ViewData["Title"] = "Pokemon";
}


<link rel="stylesheet" href="/css/styles.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">

				<div class="content-title">
					<h1>List of <span>Pokémon</span> registered in the Pokédex!</h1>
					<br />
					<h3>Gotta catch 'em all!</h3>

					<br />
					<p>Add a Pokémon to your Battle Team or mark them as caught!</p>
				</div>
			</div>
		</div>
	</div>
</div>

@* Search bar Form - not currently functioning *@
<div class="pokemon-search">
	<form class="search-box">
		<input class="form-control search" type="text" placeholder="Search for a Pokémon by Name or ID">
	</form>
</div>



<div class="pokemon-list-container">
	<ul class="pokemon-table">
		<li class="table-header">
			<div class="col col-1">ID</div>
			<div class="col col-2">Sprite</div>
			<div class="col col-3">Name</div>	
			<div class="col col-4">Caught</div>
		</li>

		
		@* Iterates through the JSON from the PokeApi and outputs to an HTML Table *@
		@for (int number = 0; number < Model.Count; number++)
			{
			<li class="table-row">
				<div class="col col-1" data-label="Pokemon Number">@(number + 1)</div>
				<div class="col col-2" data-label="Sprite">@Html.Raw($" <img src=\"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{number + 1}.png\" alt=\"{@Model[number].name}\"/> ")</div>
				<div class="col col-3" data-label="Pokemon Name">@Model[number].name</div>	
				<div class="col col-4" data-label="Caught">
					<button id="saveButton" onclick="saveData(@(number + 1),'@(Model[number].name)', 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/@(number + 1)')" class="solid-button">Caught!</button>
				</div>

			</li>
			}
	</ul>
	<br /><br /><br />
</div>

<script>
	function saveData(number, Name, SpriteUrl) {
		console.log(number, Name, SpriteUrl)

		var pokemonData = {
				Id: number,
				Name: Name,
				SpriteUrl: SpriteUrl
			};

	$.ajax({
		type: "POST",
		url: "/Home/AddToCaught",
		data: JSON.stringify(pokemonData),
		contentType: "application/json",
		success: function (response) {
			alert("Great Job!");
		},
		error: function () {
			alert("Error, please try again.");
		}
	});
}
</script>





@* Script for Search Bar - Not currently functioning *@
@*<script src="lib/jquery/dist/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$('.search-box').on("keyup", function () {
			var poke_search = $(this).val().toLowerCase();
			$("#upper").children().each(function () {
				var stringData = $(this).children().children("p").text();
				console.log("AAA")
				console.log(stringData)
				if (stringData.indexOf(poke_search) == -1) {
					$(this).hide();
				} else {

					$(this).show();
				}
			})
		})
	})
</script>*@